In [6]:
first_name = input('insert your first name:')
middle_name = input('insert your middle name:')
last_name = input('insert your last name:')

print("Hello ", first_name, middle_name, last_name, "!!")

insert your first name:Muhammad
insert your middle name:Fajar
insert your last name:Syuhada
Hello  Muhammad Fajar Syuhada !!

In [9]:
#Menghitung luas dan Keliling Persegi Panjang

panjang = input("masukan nilai sisi panjang")
luas = input("masukan nilai sisi lebar")

luas = int(panjang) * int(lebar)
keliling = 2 * (int(panjang) + int(lebar))

print("Luas persegi panjang", luas)
print("keliling persegi panjang", keliling)

masukan nilai sisi panjang5
masukan nilai sisi lebar5
Luas persegi panjang 15
keliling persegi panjang 16

In [10]:
print("18", "oktober", "2024", sep='-') #Escape character
#18
#Oktober
#2024
print("18", "oktober", "2024", sep='\n')

18-oktober-2024
18
oktober
2024

In [14]:
print("1","2","3","4","5", sep='+' * 10 ,end='.' * 10)

1++++++++++2++++++++++3++++++++++4++++++++++5..........

In [15]:
#Memformat ouput

l = 10
p = 20

#Luas Persegi dengan Lebar 10 dan Panjang 20 = 200
print("Luas Persegi dengan Lebar {} dan panjang {} = {}".format(l,p,l*p))

Luas Persegi dengan Lebar 10 dan panjang 20 = 200

In [23]:
#Memformat dengan Index

bulan1 = "Januari"
bulan2 = "Febuari"

print("Nama - nama bulan {0}, {1}".format(bulan1,bulan2))

Nama - nama bulan Januari, Febuari

In [25]:
#Memformat dengan tanda pengenal

print("Nama saya {fname} {mname} {lname}".format(fname="Muhammad", mname="Fajar", lname="Syuhada"))

Nama saya Muhammad Fajar Syuhada

In [37]:
kampus = "Universitas Nusa Putra"
print(kampus[0])
print(kampus[-1])

#menggunakan Range
print(kampus[0:11])
print(kampus[12:])
print(kampus[-5:])
print(kampus[::-1])

U
a
Universitas
Nusa Putra
Putra
artuP asuN satisrevinU

In [40]:
#interpolasi dengan Fstring

p = 5
l = 20

print(f'luas persegi = {l*p}')
print(f'keliling persegi = {(p+l)}')

luas persegi = 100
keliling persegi = 25

In [43]:
nama_siswa = "andri,budi,doni"

print(nama_siswa.split(','))
print('@'.join(nama_siswa.split(',')))

['andri', 'budi', 'doni']
andri@budi@doni

In [76]:
nama = input("Masukkan nama anda:")
Tanggal_Lahir = input("masukkan tanggal lahir anda:")
Bulan_lahir = input("Masukan bulan lahir anda:")
Tahun_lahir = input("Masukan tahun lahir anda:")

tgls = Tanggal_Lahir.split('/')
blns = Bulan_lahir.split('/')
thns = Tahun_lahir.split('/')
inisial = nama.split('/')

print(f"nama anda: {nama}")
print(f"tanggal lahir: {tgls[0]}")
print(f"bulan lahir: {blns[0]}")
print(f"tahun lahir: {thns[0]}")
print(f"inisial: {nama[0] ,nama[5]}")

Masukkan nama anda:Tedi Wijaya
masukkan tanggal lahir anda:18
Masukan bulan lahir anda:12
Masukan tahun lahir anda:2003
nama anda: Tedi Wijaya
tanggal lahir: 18
bulan lahir: 12
tahun lahir: 2003
inisial: ('T', 'W')